<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="loginmapper">

  <resultMap type="com.login.dto.MemberdDto" id="dtoMap">
		<result property="myno" column="MYNO" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regdate" column="REGDATE" />
	</resultMap>
  
  <select id="selectList" resultType="dto">
  	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE FROM MEMBERBOARD ORDER BY MYNO DESC
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="dtoMap">
  	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE FROM MEMBERBOARD WHERE MYNO = #{myno}
  </select>
  
  <select id="selectLogin" parameterType="int" resultMap="dtoMap">
  	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE FROM MEMBERBOARD 
  	WHERE MYID=#{myid} WHERE MYPW=${mypw} WHERE MYENABLED=${myenabled}
  </select>
  
  <delete id="muldel" parameterType="map">
  	DELETE FROM MDBOARD WHERE SEQ IN
  	<foreach collection="seqs" item="seq" open="(" separator="," close=")" >
  	#{seq}
  	</foreach>
  </delete>
  
  <insert id="insert" parameterType="dto">
  	INSERT INTO MDBOARD VALUES(MDBOARDSEQ.NEXTVAL,WRITER,TITLE,CONTENT,SYSDATE)
  </insert>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM MDBOARD WHERE SEQ = #{seq}
  </delete>

</mapper>
