<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberloginmapper">

<select id = "login" resultType="dto">
	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE 
	FROM LOGINBOARD 
	WHERE MYID = #{myid} AND MYPW = #{mypw} AND MYENABLED = #{myenabled}
</select>

<select id = "idcheck" resultType="String">
	 SELECT MYID 
	 FROM LOGINBOARD 
	 WHERE MYID = #{myid} 
</select>

<update id ="update">
	UPDATE LOGINBOARD 
	SET MYADDR = #{myaddr}, MYPW = #{mypw}, MYPHONE = #{myphone}, MYEMAIL = #{myemail} 
	WHERE MYNO = #{myno}"
</update>

<update id = "deleteuser">
	UPDATE LOGINBOARD 
	SET MYENABLED = 'N' 
	WHERE MYNO = #{myno}
</update>

<insert id ="insert">
INSERT INTO LOGINBOARD 
VALUES(MEMBERBOARDSEQ.NEXTVAL,#{myid},#{mypw},#{myname},#{myaddr},#{myphone},#{myemail},#{myenabled},#{myrole})
</insert>

<select id = "alluser" resultType="dto" >
	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE 
	FROM LOGINBOARD 
	ORDER BY MYENABLED DESC
</select>

<select id = "enableduser" resultType ="dto">
	SELECT MYNO,MYID,MYPW,MYNAME,MYADDR,MYPHONE,MYEMAIL,MYENABLED,MYROLE  
	FROM LOGINBOARD 
	WHERE MYENABLED = 'Y' 
	ORDER BY MYNO
</select>

<!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->

<select id ="selectOne" resultType="dto">
	SELECT SEQ,WRITER,TITLE,CONTENT,REGDATE
	FROM MDBOARD
	WHERE SEQ=#{seq}
	ORDER BY SEQ
</select>

<insert id ="insert">
	INSERT INTO MDBOARD
	VALUES(MDBOARDSEQ.NEXTVAL,#{writer},#{title},#{content},SYSDATE)
</insert>

<update id ="update">
	UPDATE MDBOARD
	SET WRITER = #{writer}, TITLE = #{title}, CONTENT=#{content}
	WHERE SEQ = #{seq}
</update>

<delete id="delete">
	DELETE FROM MDBOARD
	WHERE SEQ = #{seq}
</delete>

<delete id ="muldel" parameterType="map">
	DELETE FROM MDBOARD
	WHERE SEQ IN
	<foreach collection="seqs" item="seq" open="(" separator ="," close=")">
	#{seq}
	</foreach>
</delete>


</mapper>
