<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="musicbd_mapper">

  <resultMap type="semi.dto.MusicBoardDto" id="musicbdDtoMap">
		<result property="musicbd_boardno" column="MUSICBOARD_BOARDNO" />
		<result property="musicbd_groupno" column="MUSICBOARD_GROUPNO" />
		<result property="musicbd_groupsq" column="MUSICBOARD_GROUPSQ" />
		<result property="musicbd_titletab" column="MUSICBOARD_TITLETAB" />
		<result property="musicbd_delflag" column="MUSICBOARD_DELFLAG" />
		<result property="musicbd_title" column="MUSICBOARD_TITLE" />
		<result property="musicbd_content" column="MUSICBOARD_CONTENT" />
		<result property="musicbd_writer" column="MUSICBOARD_WRITER" />
		<result property="musicbd_regdate" column="MUSICBOARD_REGDATE" />
	</resultMap>
  
  <select id="selectList_musicbd" resultType="musicbdDto">
  	SELECT MUSICBOARD_BOARDNO,MUSICBOARD_GROUPNO,MUSICBOARD_GROUPSQ,MUSICBOARD_TITLETAB,
  		MUSICBOARD_DELFLAG,MUSICBOARD_TITLE,MUSICBOARD_CONTENT,MUSICBOARD_WRITER,MUSICBOARD_REGDATE 
  		FROM MUSICBOARD ORDER BY MUSICBOARD_BOARDNO DESC, MUSICBOARD_GROUPSQ
  </select>
  
  <select id="selectOne_musicbd" parameterType="int" resultMap="musicbdDtoMap">
  	SELECT MUSICBOARD_BOARDNO,MUSICBOARD_GROUPNO,MUSICBOARD_GROUPSQ,MUSICBOARD_TITLETAB,
  		MUSICBOARD_DELFLAG,MUSICBOARD_TITLE,MUSICBOARD_CONTENT,MUSICBOARD_WRITER,MUSICBOARD_REGDATE
  		FROM MUSICBOARD
  		WHERE MUSICBOARD_BOARDNO = #{musicbd_boardno}
  </select>
    
  <insert id="insert_musicbd" parameterType="musicbdDto">
  	INSERT INTO MUSICBOARD VALUES(
  		BOARDNOSEQ.NEXTVAL,GROUPNOSEQ.NEXTVAL,#{musicbd_groupsq},#{musicbd_titletab},
  		'N',#{musicbd_title},#{musicbd_content},#{musicbd_writer})
  </insert>
  
  <update id="update_musicbd" parameterType="musicbdDto">
  	UPDATE MUSICBOARD SET
  		MUSICBOARD_TITLE = #{musicbd_title},
  		MUSICBOARD_CONTENT = #{musicbd_content}
  		WHERE MUSICBOARD_BOARDNO = #{musicbd_boardno}
  </update>
 
   <update id="delete_musicbd" parameterType="musicbdDto">
  	UPDATE MUSICBOARD SET
  		MUSICBOARD_DELFLAG = 'Y'
  		WHERE MUSICBOARD_BOARDNO = #{musicbd_boardno}
  </update>
 
   <update id="update_answer" parameterType="musicbdDto">
  	UPDATE MUSICBOARD SET MUSICBOARD_GROUPSQ = MUSICBOARD_GROUPSQ+1
  		WHERE MUSICBOARD_GROUPNO = (SELECT MUSICBOARD_GROUPNO FROM MUSICBOARD WHERE MUSICBOARD_BOARDNO=#{musicbd_boardno})
  		AND MUSICBOARD_GROUPSQ > (SELECT MUSICBOARD_GROUPSQ FROM MUSICBOARD WHERE MUSICBOARD_BOARDNO=#{musicbd_boardno})
  </update> 
  
  <insert id="insert_answer" parameterType="musicbdDto">
  	INSERT INTO MUSICBOARD VALUES(BOARDNOSEQ.NEXTVAL,
  		(SELECT MUSICBOARD_GROUPNO FROM MUSICBOARD WHERE MUSICBOARD_BOARDNO=#{musicbd_boardno}),
  		(SELECT MUSICBOARD_GROUPSQ FROM MUSICBOARD WHERE MUSICBOARD_BOARDNO=#{musicbd_boardno})+1,
  		(SELECT MUSICBOARD_TITLETAB FROM MUSICBOARD WHERE MUSICBOARD_BOARDNO=#{musicbd_boardno})+1,
  		#{musicbd_title},#{musicbd_content},#{musicbd_writer},SYSDATE)
  			
  </insert>  
  <!-- 
  String INSERT_ANSWER_SQL = " INSERT INTO ANSWERBOARD " 
			+ " VALUES(BOARDNOSEQ.NEXTVAL, "
			+ "	(SELECT GROUPNO FROM ANSWERBOARD WHERE BOARDNO=?), "
			+ "	(SELECT GROUPSQ FROM ANSWERBOARD WHERE BOARDNO=?)+1, "
			+ "	(SELECT TITLETAB FROM ANSWERBOARD WHERE BOARDNO=?)+1, "
			+ "	'N',?,?,?,SYSDATE) ";
	String UPDATE_ANSWER_SQL = " UPDATE ANSWERBOARD "
			+ " SET GROUPSQ = GROUPSQ+1 "
			+ " WHERE GROUPNO = (SELECT GROUPNO FROM ANSWERBOARD WHERE BOARDNO=?) "
			+ " AND GROUPSQ > (SELECT GROUPSQ FROM ANSWERBOARD WHERE BOARDNO=?) ";
   -->
</mapper>
