<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SemiProjectBeta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Mainhome.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>chattingServlet</servlet-name>
    <servlet-class>semi.controller.chattingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chattingServlet</servlet-name>
    <url-pattern>/chatting.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>semi.controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>statisticsServlet</servlet-name>
    <servlet-class>semi.controller.statisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statisticsServlet</servlet-name>
    <url-pattern>/statistics.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>boardServlet</servlet-name>
    <servlet-class>semi.controller.boardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardServlet</servlet-name>
    <url-pattern>/board.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>YoutubeServlet</servlet-name>
    <servlet-class>semi.controller.YoutubeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeServlet</servlet-name>
    <url-pattern>/Youtube.do</url-pattern>
  </servlet-mapping>

</web-app>